{{#each errors }}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}

<div class="card card-body">
  <h3>Edit Note</h3>
  <form action="/notes/{{note.id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input value="{{note.title}}" required id="title" type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="note">Note</label>
      <textarea required id="note" type="text" class="form-control" name="note">{{note.note}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>